.header{
    display: flex;
    vertical-align: middle;
    background-color: lightblue;
    border-radius: 10px;
}
.logo{
    padding-top: 15px;
    display: flex;
    margin-right:15px;
}
#titulo{
    margin-left: 40px;
    font-family: "Dancing Script", cursive;
    color: mediumblue;
    font-size: 55px;
}
#nav{
    width: 100%;
    justify-content: right;
    display: flex;
    margin-top: 0px;
    background-color: #efefef;
}
.menu{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
    text-decoration: none;
    margin-left: 15px;

}
a {
    padding: 10px;
    text-decoration: none;
    color: blue;
    font-weight: bolder;

}
a:hover {
    color: white;
    background-color: blue;
}
form {
    height: 200px;
    border: 2px solid lightgray;
    margin-top: 20px;
    margin-left: 30px;
}
input{
    display: block;
}
footer{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    position: fixed;
    bottom: 0px;
    background-color: #efefef;
    width: 100%;
}
