/* Resetando estilos padrões */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Estilo básico do corpo */
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
  }
  
  /* Header */
  header {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
  }
  
  header .logo {
  
    margin-left: 20px;
  }

  header .logo h1 {
    font-size: 2.5rem;
    display: block;
  }
  
  header nav ul {
    list-style: none;
    padding: 0;
  }
  
  header nav ul li {
    display: inline;
    margin: 0 15px;
  }
  
  
  /* Seção Hero */
  .hero {
    background: url('carro-imagem.jpg') no-repeat center;
    text-align: center;
    margin:auto;
    color: white;
    position:relative;
    height: 750px;
  }
  
  .hero h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    padding-top: 140px;
  }
  
  .hero p {
    font-size: 1.2rem;
    margin-bottom: 30px;
  }
  
  .hero .btn {
    background-color: #ff5722;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  .hero .btn:hover {
    background-color: #e64a19;
  }
  
  /* Footer */
  footer {
    position: absolute;
    bottom: 0px;
    width:100%;
    background-color: #888;
    color: white;
    text-align: center;
    padding: 20px 0;
  }
  